/*resets*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #101218;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
ul,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/*menu*/

.header-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.apps-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

.apps-icon:hover {
  background-color: rgba(242, 242, 242, 0.09);
}

.user-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

.user-icon:hover {
  background-color: rgba(242, 242, 242, 0.09);
}

/*links*/

a {
  color: inherit;
  text-decoration: none;
  font-size: 13px;
}

.links:hover {
  text-decoration: underline;
}

/*main*/

main {
  flex: 1;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
  padding-top: 100px;
}

.main-img {
  width: 300px;
}

.search {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.search-bar {
  width: 582px;
  height: 25px;
  border: none;
  border-radius: 30px;
  padding: 12px;
  background-color: #3f4454;
  color: #fff;
  font-size: medium;
}

.search-bar:focus {
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

button {
  display: inline-block;
  background-color: #3f4454;
  color: #fff;
  padding: 10px;
  border: 0.1px, solid, #3f4454;
  border-radius: 4px;
}

button:hover {
  border: 0.1px, solid, #fff;
}

/*footer*/

footer {
  background-color: #1f2128;
  padding: 15px 30px;
  font-size: 14px;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-menu nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.footer-menu nav ul {
  display: flex;
  gap: 20px;
}

.country {
  padding: 10px 0;
  border-bottom: 1px solid #3f4454;
}
